* {
  margin: 0px;
  box-sizing: border-box;
}
h2 {
  text-align: center;
  margin-bottom: 20px;
}
.buttons {
  bottom: 10%;
  width: 100%;
  background-color: rgb(60, 60, 60);
}
button {
  background-color: rgb(0, 0, 0);
  color: rgb(60, 60, 60);
  border-color: rgb(159, 159, 159);
  width: 43.5px;
  height: 30px;
}

textarea {
  position: relative;
  width: 100%;
  height: 200px;
  color: rgb(84, 140, 189);
  border-color: rgb(84, 140, 189);
}

#wrapper {
  border-width: 2px;
  border-color: rgb(0, 0, 0);
  border-style: solid;
  width: 600px;
  height: 420px;
  margin-left: 350px;
  margin-right: 350px;
  padding: 10px;
}

#btnSpace {
  width: 424px;
}

#btnOK {
  width: 147px;
}

#btnCaps {
  width: 147px;
}

#btnShift {
  width: 147px;
}

#btnEnter {
  width: 100px;
}

#btnBackSpace {
  width: 100px;
}
